.dabory-multipopup {
    /*display: none !important;*/
    position: absolute !important;
    /*z-index: 9999;*/
    /*width: 650px;*/
}

.dabory-multipopup-box {
    position: relative !important;
    background-color: #fff !important;
}

.dabory-slider {
    position: relative !important;
    z-index: 1 !important;
}

.dabory-slide img {
    max-width: unset !important;
    max-height: unset !important;
}

.dabory-slider .swiper-container-autoheight, .dabory-slider .swiper-container-autoheight .swiper-slide {
    height: auto !important;
}

.dabory-slider .swiper-container-autoheight .swiper-wrapper {
    align-items: flex-start !important;
    transition-property: transform,height !important;
}

.dabory-multipopup-box .swiper-wrapper {
    margin-bottom: 0 !important;
    display: flex !important;
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1 !important;
    transition-property: transform !important;
    box-sizing: content-box !important;
    /*transform: translate3d(0px,0,0) !important;*/
}

.dabory-slider .swiper-slide > * {
    display: block !important;
}

.dabory-slider .swiper-container .swiper-notification {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    pointer-events: none !important;
    opacity: 0 !important;
    z-index: -1000 !important;
}

.dabory-slider .swiper-container {
    margin-left: auto !important;
    margin-right: auto !important;
    position: relative !important;
    overflow: hidden !important;
    list-style: none !important;
    padding: 0 !important;
    z-index: 1 !important;
}

.dabory-slider .dabory-pagination-text {
    bottom: 44px !important;
}

.dabory-slider .dabory-pagination-bullets {
    width: 100% !important;
    height: 0 !important;
    left: 0 !important;
    bottom: 18px !important;
}

.dabory-slider .dabory-pagination {
    position: absolute !important;
    text-align: center !important;
    transition: 300ms opacity !important;
    transform: translate3d(0,0,0) !important;
    z-index: 10 !important;
    box-sizing: border-box !important;
}

.dabory-multipopup-box .dabory-slider .dabory-pagination {
    position: relative !important;
    height: auto !important;
    bottom: auto !important;
    text-align: left !important;
    border-top: 1px solid #dfdfdf !important;
    border-right: 1px solid #dfdfdf !important;
}

.dabory-slider .dabory-pagination {
    position: absolute !important;
    text-align: center !important;
    transition: 300ms opacity !important;
    transform: translate3d(0,0,0) !important;
    z-index: 10 !important;
    box-sizing: border-box !important;
}

.dabory-slider .dabory-pagination-text .dabory-pagination-item-link:before {
    background-color: rgba(255,255,255,.92) !important;
}

/*.dabory-multipopup .swiper-slide {*/
/*    width: 650px !important;*/
/*}*/

.dabory-multipopup-box .dabory-slider .dabory-pagination-item-text {
    display: table-cell !important;
    padding: 0 4px !important;
    font-size: 11px !important;
    line-height: 17px !important;
    color: #828282 !important;
    vertical-align: middle !important;
    text-align: center !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    border: unset !important;
}

.dabory-slider .dabory-pagination-item-text {
    display: block !important;
    position: relative !important;
    z-index: 1 !important;
    padding: 0 12px !important;
    min-width: 23px !important;
    line-height: 27px !important;
    min-height: 27px !important;
    color: #2f2f2f !important;
}

.dabory-multipopup-box .dabory-slider .dabory-pagination-item-link {
    display: table !important;
    width: 100% !important;
    height: 40px !important;
    border: 0 !important;
    cursor: pointer !important;
}

.dabory-multipopup-box .dabory-slider .dabory-pagination:before {
    z-index: 1 !important;
    display: block !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    content: '' !important;
    width: 1px !important;
    height: 100% !important;
    background: #dfdfdf !important;
}

.dabory-multipopup-btn-items {
    text-align: center !important;
    font-size: 12px !important;
    color: #fff !important;
}

.dabory-multipopup-btn-item_todayclose {
    float: left !important;
    width: calc(100% - 217px) !important;
    letter-spacing: -.25px !important;
    background-color: rgba(100,100,100,0.88) !important;
    border-left: 1px solid #dfdfdf !important;
    border-right: 1px solid #dfdfdf !important;
}

.dabory-multipopup-btn-item {
    line-height: 40px !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    border-bottom: 1px solid #dfdfdf !important;
    border-top: 1px solid #dfdfdf !important;
}

.dabory-multipopup-btn-item_close {
    float: right !important;
    width: 217px !important;
    background-color: rgba(50,50,50,0.88) !important;
    border-right: 1px solid #dfdfdf !important;
}

.dabory-multipopup-btn-item_close:hover {
    background-color: rgba(72,72,72,0.9) !important;
}

.dabory-multipopup-btn-item_todayclose:hover {
    background-color: rgba(116,116,116,0.9) !important;
}

.dabory-multipopup-btn-items:after {
    display: block !important;
    clear: both !important;
    content: "" !important;
}

.dabory-slider img {
    /*width: 650px !important;*/
    height: 100% !important;
    object-fit: cover !important;
    border: none !important;
    vertical-align: middle !important;
}

.dabory-slide {
    list-style: none !important;
}

.dabory-multipopup-box .dabory-slider .dabory-pagination-item {
    width: 33.333% !important;
    margin: 0 !important;
    background-color: #f5f5f5 !important;
    border-right: 1px solid #dfdfdf !important;
    /*border-bottom: 1px solid #dfdfdf !important;*/
    box-sizing: border-box !important;

    border-radius:unset !important;
}

.dabory-slider .dabory-pagination-item {
    display: inline-block !important;
    margin: 0 2px !important;
    vertical-align: top !important;
    width: 100% !important;
    height: 100% !important;
    opacity: unset !important;
}

.dabory-multipopup-box .dabory-slider .dabory-pagination-item-link:before {
    background-color: transparent !important;
}

.dabory-slider .dabory-pagination-item-link:before {
    display: block !important;
    position: absolute !important;
    height: 100% !important;
    background-color: #bbb !important;
    content: '' !important;
}

.dabory-top-box {
    padding: 13px 0 !important;
    background-color: rgba(0,0,0,0.88) !important;
}

.dabory-pagination span {
    border-radius: unset !important;
}

.dabory-multipopup-box .dabory-slider .dabory-pagination-item:hover, .dabory-multipopup-box .dabory-slider .swiper-pagination-bullet-active {
    background-color: #fff !important;
}

.dabory-multipopup-box .dabory-slider .dabory-pagination-item-link:hover .dabory-pagination-item-text, .dabory-multipopup-box .dabory-slider .swiper-pagination-bullet-active .dabory-pagination-item-text {
    font-weight: bold !important;
    color: #222 !important;
    border: unset !important;
}

@media (max-width: 1199.98px) {
    .dabory-multipopup {
        width: 450px !important;
        left: 100px !important;
    }

    .dabory-multipopup .swiper-slide {
        width: 450px !important;
    }

    .dabory-slider img {
        width: 450px !important;
    }

    .dabory-multipopup-btn-item_todayclose {
        width: calc(100% - 150px) !important;
    }

    .dabory-multipopup-btn-item_close {
        width: 150px !important;
    }
}

@media (max-width: 767.98px) {
    .dabory-multipopup {
        max-width: 300px !important;
        left: 20px !important;
    }

    .dabory-multipopup .swiper-slide {
        max-width: 300px !important;
    }

    .dabory-slider img {
        max-width: 300px !important;
        height: auto !important;
    }

    .dabory-multipopup-btn-item_todayclose {
        width: calc(100% - 118px) !important;
    }

    .dabory-multipopup-btn-item_close {
        width: 118px !important;
    }

    .dabory-multipopup-box .dabory-slider .dabory-pagination-item-link {
        height: 35px !important;
    }
}
